@import 'styles/variables';

.listing {
    width: 100%;

    &__item {
        & + & {
            border-top: .1rem solid rgba($colour-white, .2);
            margin-top: 1rem;
            padding-top: 1rem;
        }
    }
}
