@import 'styles/variables';

.modules {
    display: flex;
    flex: 1;
    flex-flow: row wrap;
    margin: ($gutter / 4) -#{$gutter / 4} -#{$gutter / 4};

    &__item {
        box-sizing: border-box;
        display: flex;
        flex: 0 50%;
        padding: $gutter / 4;
    }
}
